# This is a basic workflow to help you get started with Actions

name: NWA12_RT

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "dev/cefi" ]
  pull_request:
    branches: [ "dev/cefi" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Run create_run_xml_from_template.bash 
      - name: create and run FRE xml
        run: |
          pwd
          cd ci
          bash create_run_xml_from_template.bash 
